.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #2081c3; 
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold; 
   -fx-alignment: CENTER_LEFT;
   -fx-padding: 7px 0 7px 0;
}

.table-view .cell{
  -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-border-color: transparent;
  -fx-text-fill: black;
  -fx-alignment: CENTER_LEFT;
   
}

.table-row-cell:odd{
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #F2F2F2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;

}
