

.button {
    -fx-background-radius: 20px;
    -fx-border-radius:  20px;
    -fx-background-color:  #2081c3;
    -font-size: 14px;
    -fx-font-family: 'Segoe UI';
}

.button:hover {
    -fx-text-fill: white;
    font-weight: bold;
}

